ul {
    background-color: white;
    opacity: 0.9;
    width: 200px;
    height: auto;
    position: absolute;
    left: 14px;
    /* margin: 0 auto; */
    z-index: 1;
    overflow-y: scroll;
    top: 45px;
}

ul li {
    cursor: pointer;
    padding: 8px 0 8px 10px;
    height: auto;
    border-bottom: 1px solid rgb(195, 195, 195);
}

ul li:last-child {
    border-bottom: none;
}

ul li:hover {
    background-color: rgb(221, 221, 221);
}